In [18]:
import pandas as pd
import geopandas as gpd
import numpy as np
# from pyiem.nws.products import parser
df = pd.read_csv("/home/jaydenfassett/amlproject/data/VTEC/wwa_201401010000_201412312359.csv")

/tmp/ipykernel_2434593/30471854.py:5: DtypeWarning: Columns (10,18,19,22,23) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("/home/jaydenfassett/amlproject/data/VTEC/wwa_201401010000_201412312359.csv")

In [19]:
qq = pd.read_csv("/home/jaydenfassett/amlproject/data/NOAA_StormEvents/StormEvents_details-ftp_v1.0_d2015_c20240716.csv")

In [2]:
gdf = gpd.read_file("/home/jaydenfassett/amlproject/data/VTEC/wwa_201401010000_201412312359.shp")

In [ ]:
df['IS_EMERGENCY']

Index(['WFO', 'ISSUED', 'EXPIRED', 'INIT_ISS', 'INIT_EXP', 'PHENOM', 'GTYPE',
       'SIG', 'ETN', 'STATUS', 'NWS_UGC', 'AREA_KM2', 'UPDATED', 'HVTEC_NWSLI',
       'HVTEC_SEVERITY', 'HVTEC_CAUSE', 'HVTEC_RECORD', 'IS_EMERGENCY',
       'POLYBEGIN', 'POLYEND', 'WINDTAG', 'HAILTAG', 'TORNADOTAG', 'DAMAGETAG',
       'PRODUCT_ID'],
      dtype='object')

In [43]:
df['POLYBEGIN'].isna().sum() / len(df['POLYBEGIN'])

np.float64(0.9038374386046568)

In [26]:
mask = (df['EXPIRED'].astype('datetime64[ns]') - df['ISSUED'].astype('datetime64[ns]')) > pd.Timedelta("1 ns")
print(mask.sum() / len(mask))
mask

0.9197040775081758

0         True
1         True
2         True
3         True
4         True
          ...
408210    True
408211    True
408212    True
408213    True
408214    True
Length: 408215, dtype: bool

In [27]:
len(df[~mask])

32778

In [ ]:
df[df['SIG'].isin(["A", "W"])] #Only Keeping watches/warnings

,WFO,ISSUED,EXPIRED,INIT_ISS,INIT_EXP,PHENOM,GTYPE,SIG,ETN,STATUS,...,HVTEC_CAUSE,HVTEC_RECORD,IS_EMERGENCY,POLYBEGIN,POLYEND,WINDTAG,HAILTAG,TORNADOTAG,DAMAGETAG,PRODUCT_ID
2,ICT,2014-08-23 00:31,2014-08-23 01:15,2014-08-23 00:31,2014-08-23 01:15,SV,P,W,200,NEW,...,NaN,NaN,False,2014-08-23 00:31,2014-08-23 00:43,60.0,1.0,NaN,NaN,201408230031-KICT-WUUS53-SVRICT
3,ICT,2014-10-10 07:56,2014-10-10 13:00,2014-10-10 07:56,2014-10-10 13:00,FF,P,W,9,NEW,...,NaN,NaN,False,2014-10-10 07:56,2014-10-10 12:03,NaN,NaN,NaN,NaN,201410100756-KICT-WGUS53-FFWICT
4,LIX,2014-05-31 05:00,2014-06-01 01:05,2014-05-31 05:00,2014-06-01 01:05,FL,P,W,61,NEW,...,ER,NO,False,2014-05-31 05:00,2014-06-01 01:05,NaN,NaN,NaN,NaN,201405301536-KLIX-WGUS44-FLWLIX
5,BUF,2014-06-18 00:35,2014-06-18 01:30,2014-06-18 00:35,2014-06-18 01:30,SV,P,W,22,NEW,...,NaN,NaN,False,2014-06-18 00:35,2014-06-18 01:15,NaN,NaN,NaN,NaN,201406180035-KBUF-WUUS51-SVRBUF
7,LIX,2014-03-29 02:34,2014-03-31 10:00,2014-03-29 02:34,2014-03-31 10:00,FL,P,W,23,NEW,...,ER,NO,False,2014-03-29 02:34,2014-03-31 10:00,NaN,NaN,NaN,NaN,201403290234-KLIX-WGUS44-FLWLIX
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
408210,MKX,2014-06-30 20:33,2014-06-30 23:48,2014-06-30 20:33,2014-07-01 02:00,SV,C,A,375,CAN,...,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,201406302033-KMKX-WWUS63-WCNMKX
408211,MKX,2014-06-30 20:33,2014-07-01 00:16,2014-06-30 20:33,2014-07-01 02:00,SV,C,A,375,CAN,...,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,201406302033-KMKX-WWUS63-WCNMKX
408212,MKX,2014-06-30 20:33,2014-06-30 23:48,2014-06-30 20:33,2014-07-01 02:00,SV,C,A,375,CAN,...,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,201406302033-KMKX-WWUS63-WCNMKX
408213,MKX,2014-06-30 20:33,2014-06-30 23:48,2014-06-30 20:33,2014-07-01 02:00,SV,C,A,375,CAN,...,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,201406302033-KMKX-WWUS63-WCNMKX
408214,MKX,2014-06-30 22:17,2014-07-01 00:16,2014-06-30 22:17,2014-07-01 02:00,SV,C,A,375,CAN,...,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,201406302217-KMKX-WWUS63-WCNMKX

In [9]:
gdf['geometry']

0         POLYGON ((-84.25 39.59, -84.48 39.59, -84.48 3...
1         POLYGON ((-88.75 40.7, -88.7 40.52, -89.13 40....
2         POLYGON ((-98.75 39.14, -99.03 38.96, -99.04 3...
3         POLYGON ((-95.5 37, -95.08 37.17, -95.07 37.01...
4         POLYGON ((-89.65231 30.73538, -89.68 30.68, -8...
                                ...
408210    POLYGON ((-88.83 43.2, -88.8 43.2, -88.74 43.2...
408211    POLYGON ((-87.87 43.38, -87.78 43.36, -87.79 4...
408212    POLYGON ((-87.98 43.19, -87.95 43.19, -87.92 4...
408213    POLYGON ((-88.51 43.2, -88.46 43.2, -88.44 43....
408214    POLYGON ((-88.38 43.94, -88.31 43.94, -88.2 43...
Name: geometry, Length: 408215, dtype: geometry